<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${candidateDto.id == null ? 'Create Candidate' : 'Edit Candidate'}"></title>
    <th:block th:insert="/fragment/head"/>
</head>
<body>
    <th:block th:insert="/fragment/header"/>
    <div>
        <div>
            <h3 class="text-center fw-bold text-uppercase my-2">Candidate</h3>
        </div>
        <div class="px-3">
            <div style="--bs-breadcrumb-divider: '>'">
                <ul class="breadcrumb m-0 pb-3 fw-bold">
                    <li class="breadcrumb-item">
                        <a th:href="@{/view-candidate}" class="text-body text-decoration-none">Candidate List</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a th:href="@{${candidateDto.id == null ?
                                '/create-candidate' : '/update-candidate/' + candidateDto.id + '?page=' + page}}"
                           class="text-body text-decoration-none"
                           th:text="${candidateDto.id == null ? 'Create Candidate' : 'Update Candidate'}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <form th:action="@{${candidateDto.id == null ?
                 '/create-candidate' : '/update-candidate/' + candidateDto.id + '?page=' + page}}"
              method="post" th:object="${candidateDto}" enctype="multipart/form-data">
            <div class="w-100 px-3 pt-4 pb-2 candidate-form">
                <div th:if="${createCandidateSuccess}" class="alert alert-success d-flex align-items-center text-success">
                    <i class="fas fa-check-circle me-2 fs-4"></i>
                    <span class="fw-bolder" th:text="#{${createCandidateSuccess}}"></span>
                </div>
                <div th:if="${updateCandidateSuccess}" class="alert alert-success d-flex align-items-center text-success">
                    <i class="fas fa-check-circle me-2 fs-4"></i>
                    <span class="fw-bolder" th:text="#{${updateCandidateSuccess}}"></span>
                </div>
                <span class="fw-bold">I. Personal information</span>
                <div class="row my-3 align-items-start">
                    <div class="col d-flex flex-wrap">
                        <label for="fullName" class="col-form-label width-form-label fw-bold">Full name
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" id="fullName" class="form-control w-75" th:field="*{fullName}">
                        <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{fullName}"></span>
                    </div>
                    <div class="col d-flex justify-content-end flex-wrap">
                        <label for="email" class="col-form-label width-form-label fw-bold">Email
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" id="email" th:readonly="${candidateDto.id != null}"
                               class="form-control w-75" th:field="*{email}">
                        <span class="text-danger fw-bolder w-75 pt-2" th:errors="*{email}"></span>
                    </div>
                </div>
                <div class="row my-3 align-items-start">
                    <div class="col d-flex flex-wrap">
                        <label for="dateOfBirth" class="col-form-label width-form-label fw-bold">D.O.B
                            <span class="text-danger">*</span>
                        </label>
                        <input type="date" id="dateOfBirth" class="form-control w-75" th:field="*{dateOfBirth}">
                        <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{dateOfBirth}"></span>
                    </div>
                    <div class="col d-flex justify-content-end flex-wrap">
                        <label for="address" class="col-form-label width-form-label fw-bold">Address</label>
                        <input type="text" id="address" class="form-control w-75" th:field="*{address}">
                    </div>
                </div>
                <div class="row my-3 align-items-start">
                    <div class="col d-flex flex-wrap">
                        <label for="phoneNumber" class="col-form-label width-form-label fw-bold">
                            Phone number
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" id="phoneNumber" class="form-control w-75" th:field="*{phoneNumber}">
                        <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{phoneNumber}"></span>
                    </div>
                    <div class="col d-flex justify-content-end flex-wrap">
                        <label for="gender" class="col-form-label width-form-label fw-bold">Gender
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-select w-75" id="gender" th:field="*{gender}">
                            <option hidden value="">Select a gender</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                        <span class="text-danger fw-bolder w-75 pt-2" th:errors="*{gender}"></span>
                    </div>
                </div>
                <span class="fw-bold">II. Professional information</span>
                <div class="row my-3 align-items-start">
                    <div class="col d-flex flex-wrap align-items-center">
                        <label th:for="${candidateDto.id == null ? 'cv' : ''}"
                               class="col-form-label width-form-label fw-bold">CV attachment</label>
                        <input th:if="${candidateDto.id == null}" type="file" id="cv"
                               class="form-control w-75" th:field="*{cv}">
                        <input th:if="*{uriPath}" type="text" hidden="hidden" th:value="*{uriPath}" th:field="*{uriPath}">
                        <a th:if="*{uriPath}" class="w-75" th:href="@{'/cv/' + *{uriPath}}" th:text="${nameCv}"></a>
                    </div>
                    <div class="col d-flex justify-content-end flex-wrap">
                        <label for="status" class="col-form-label width-form-label fw-bold">Status
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-select w-75" id="status" th:field="*{status}">
                            <option hidden value="">Select a status</option>
                            <option value="OPEN">Open</option>
                            <option value="BANNED">Banned</option>
                        </select>
                        <span class="text-danger fw-bolder w-75 pt-2" th:errors="*{status}"></span>
                    </div>
                </div>
                <div class="row my-3 align-items-start">
                    <div class="col d-flex flex-wrap">
                        <label for="position" class="col-form-label width-form-label fw-bold">Position
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-select w-75" id="position" th:field="*{position}">
                            <option hidden value="">Select a position</option>
                            <option th:each="position : ${positions}"
                                    th:value="${position.name}" th:text="${position.name}"></option>
                        </select>
                        <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{position}"></span>
                    </div>
                    <div class="col d-flex justify-content-end flex-wrap">
                        <label for="yearsOfExperience" class="col-form-label width-form-label fw-bold">Experience
                        </label>
                        <input class="form-control w-75" type="number" id="yearsOfExperience"
                               placeholder="Year of Experience" min="0" max="30" th:field="*{yearOfExperience}">
                    </div>
                </div>
                <div class="row my-3 align-items-start">
                    <div class="col d-flex flex-wrap">
                        <label for="user" class="col-form-label width-form-label fw-bold">Recruiter
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-select w-75" id="user" th:field="*{user}">
                            <option hidden value="">Recruiter</option>
                            <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}">
                            </option>
                        </select>
                        <span class="text-danger fw-bolder margin-form-error" th:errors="*{user}"></span>
                    </div>
                    <div class="col d-flex justify-content-end flex-wrap">
                        <label for="department" class="col-form-label width-form-label fw-bold">Highest level
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-select w-75" id="department" th:field="*{highestLevel}">
                            <option hidden value="">Select highest level</option>
                            <option value="HIGH_SCHOOL">High School</option>
                            <option value="BACHELOR_S_DEGREE">Bachelor's Degree</option>
                        </select>
                        <span class="text-danger fw-bolder w-75 pt-2" th:errors="*{highestLevel}"></span>
                    </div>
                </div>
                <div class="row mt-3 align-items-start">
                    <div class="col d-flex flex-wrap">
                        <label for="role" class="col-form-label width-form-label fw-bold">Skills
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-select w-75 pb-3" id="role" th:field="*{skills}" multiple>
                            <option hidden value="">Select skill</option>
                            <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}">
                            </option>
                        </select>
                        <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{skills}"></span>
                    </div>
                    <div class="col d-flex justify-content-end flex-wrap">
                        <label for="note" class="col-form-label width-form-label fw-bold">Note
                        </label>
                        <textarea id="note" class="form-control w-75 py-2" placeholder="N/A" rows="4"
                                  th:field="*{note}"></textarea>
                    </div>
                </div>
                <div class="text-center py-4 mt-1">
                    <button type="submit" class="btn btn-primary fw-bold px-3 me-3">Submit</button>
                    <a th:href="@{${candidateDto.id == null ? '/view-candidate' : '/view-candidate?page=' + page}}"
                       class="btn btn-primary fw-bold px-3 ms-3">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    <th:block th:insert="/fragment/last"/>
</body>
</html>