<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidate Information</title>
    <th:block th:insert="/fragment/head"/>
</head>
<body>
    <div class="m-0 d-flex">
        <nav class="top-0 start-0 h-auto bg-white">
            <th:block th:insert="/fragment/navbar.html"/>
        </nav>
        <div class="mx-4 mt-3 w-100">
            <div class="d-flex align-items-center justify-content-between pb-1">
                <h3 class="fw-bold m-0">Candidate</h3>
                <th:block th:insert="/fragment/header"/>
            </div>
            <div>
                <nav style="--bs-breadcrumb-divider: '>'" class="w-100 h-100">
                    <ul class="breadcrumb m-0 pb-3 fw-bold">
                        <li class="breadcrumb-item"><a th:href="@{/view-candidate}" class="text-body">Candidate List</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/information-candidate/{id}(id=${candidateDto.id})}"
                                                       class="text-body">Candidate Information</a></li>
                    </ul>
                </nav>
            </div>
            <form th:object="${candidateDto}">
                <div class="w-100 candidate-content px-4 pt-4 pb-3">
                    <span class="fw-bold">I. Personal information</span>
                    <div class="row my-3 align-items-start">
                        <div class="col d-flex flex-wrap">
                            <label for="fullName" class="col-form-label width-form-label fw-bold">Full name
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" id="fullName" class="form-control w-75" th:field="*{fullName}" readonly>
                            <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{fullName}"></span>
                        </div>
                        <div class="col d-flex justify-content-end flex-wrap">
                            <label for="email" class="col-form-label width-form-label fw-bold">Email
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" id="email" class="form-control w-75" th:field="*{email}" readonly>
                            <span class="text-danger fw-bolder w-75 pt-2" th:errors="*{email}"></span>
                        </div>
                    </div>
                    <div class="row my-3 align-items-start">
                        <div class="col d-flex flex-wrap">
                            <label for="dateOfBirth" class="col-form-label width-form-label fw-bold">D.O.B
                                <span class="text-danger">*</span>
                            </label>
                            <input type="date" id="dateOfBirth" class="form-control w-75" th:field="*{dateOfBirth}" disabled>
                            <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{dateOfBirth}"></span>
                        </div>
                        <div class="col d-flex justify-content-end flex-wrap">
                            <label for="address" class="col-form-label width-form-label fw-bold">Address</label>
                            <input type="text" id="address" class="form-control w-75" th:field="*{address}" readonly>
                        </div>
                    </div>
                    <div class="row my-3 align-items-start">
                        <div class="col d-flex flex-wrap">
                            <label for="phoneNumber" class="col-form-label width-form-label fw-bold">
                                Phone Number
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" id="phoneNumber" class="form-control w-75" th:field="*{phoneNumber}" readonly>
                            <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{phoneNumber}"></span>
                        </div>
                        <div class="col d-flex justify-content-end flex-wrap">
                            <label for="gender" class="col-form-label width-form-label fw-bold">Gender
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-select w-75" id="gender" th:field="*{gender}" disabled>
                                <option hidden value="">Select a gender</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                            <span class="text-danger fw-bolder w-75 pt-2" th:errors="*{gender}"></span>
                        </div>
                    </div>
                    <span class="fw-bold">II. Professional information</span>
                    <div class="row my-3 align-items-start">
                        <div class="col d-flex flex-wrap align-items-center">
                            <label class="col-form-label width-form-label fw-bold">CV attachment</label>
                            <a class="w-75" th:if="${nameCv}"
                               th:href="@{'/cv/' + *{uriPath}}" th:text="${nameCv}"></a>
                        </div>
                        <div class="col d-flex justify-content-end flex-wrap">
                            <label for="status" class="col-form-label width-form-label fw-bold">Status
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-select w-75" id="status" th:field="*{status}" disabled>
                                <option hidden value="">Select a status</option>
                                <option value="OPEN">Open</option>
                                <option value="BANNED">Banned</option>
                            </select>
                            <span class="text-danger fw-bolder w-75 pt-2" th:errors="*{status}"></span>
                        </div>
                    </div>
                    <div class="row my-3 align-items-start">
                        <div class="col d-flex flex-wrap">
                            <label for="position" class="col-form-label width-form-label fw-bold">Position
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-select w-75" id="position" th:field="*{position}" disabled>
                                <option hidden value="">Select a position</option>
                                <option th:each="position : ${positions}"
                                        th:value="${position.name}" th:text="${position.name}"></option>
                            </select>
                            <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{position}"></span>
                        </div>
                        <div class="col d-flex justify-content-end flex-wrap">
                            <label for="yearsOfExperience" class="col-form-label width-form-label fw-bold">Experience
                            </label>
                            <input class="form-control w-75" type="number" id="yearsOfExperience" readonly
                                   placeholder="Year of Experience" min="0" max="30" th:field="*{yearOfExperience}">
                        </div>
                    </div>
                    <div class="row my-3 align-items-start">
                        <div class="col d-flex flex-wrap">
                            <label for="role" class="col-form-label width-form-label fw-bold">Skills
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-select w-75" id="role" th:field="*{skills}" multiple disabled>
                                <option hidden value="">Select skill</option>
                                <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}">
                                </option>
                            </select>
                            <span class="text-danger fw-bolder margin-form-error pt-2" th:errors="*{skills}"></span>
                        </div>
                        <div class="col d-flex justify-content-end flex-wrap">
                            <label for="department" class="col-form-label width-form-label fw-bold">Highest level
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-select w-75" id="department" th:field="*{highestLevel}" disabled>
                                <option hidden value="">Select highest level</option>
                                <option value="HIGH_SCHOOL">High School</option>
                                <option value="BACHELOR_S_DEGREE">Bachelor's Degree</option>
                            </select>
                            <span class="text-danger fw-bolder w-75 pt-2" th:errors="*{highestLevel}"></span>
                        </div>
                    </div>
                    <div class="row my-3 align-items-start">
                        <div class="col d-flex flex-wrap">
                            <label for="user" class="col-form-label width-form-label fw-bold">Recruiter
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-select w-75" id="user" th:field="*{user}" disabled>
                                <option hidden value="">Recruiter</option>
                                <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}">
                                </option>
                            </select>
                            <span class="text-danger fw-bolder margin-form-error" th:errors="*{user}"></span>
                        </div>
                        <div class="col d-flex justify-content-end flex-wrap">
                            <label for="note" class="col-form-label width-form-label fw-bold">Note
                            </label>
                            <input type="text" id="note" class="form-control w-75" placeholder="N/A"
                                   th:field="*{note}" readonly>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a th:href="@{/update-candidate/{id}(id=*{id},page=${page})}" class="btn btn-primary fw-bold px-3 ms-3">Edit</a>
                        <a th:href="@{/view-candidate(page=${page})}" class="btn btn-primary fw-bold px-3 ms-3">Go back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:insert="/fragment/last"/>
</body>
</html>