<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidate List</title>
    <th:block th:insert="/fragment/head"/>
</head>
<body>
    <th:block th:insert="/fragment/header"/>
    <div>
        <div>
            <h3 class="text-center fw-bold text-uppercase my-2">Candidate</h3>
        </div>
        <div class="px-3">
            <ul class="breadcrumb m-0 pb-3 fw-bold">
                <li class="breadcrumb-item">
                    <a th:href="@{view-candidate}" class="text-body text-decoration-none">Candidate List</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center mb-4 px-3">
            <div class="w-100 d-flex">
                <form class="input-group"
                      th:action="@{/view-candidate(search=${search}, status=${status})}">
                    <div class="w-25 me-3 input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search"
                               th:value="${search}">
                        <button class="btn bg-white border" type="submit" title="search">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <ul class="navbar-nav border w-25 text-body rounded-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-body padding-link-sort d-flex justify-content-between align-items-center"
                               href data-bs-toggle="dropdown" aria-expanded="false">
                                <input hidden th:value="${status}" name="status">
                                <span th:if="${status == null}">Status</span>
                                <span th:if="${status == null ? false : 'OPEN'.equals(status.name())}">Open</span>
                                <span th:if="${status == null ? false : 'BANNED'.equals(status.name())}">Banned</span>
                                <i class="fas fa-chevron-down float-end"></i>
                            </a>
                            <ul class="dropdown-menu w-100 p-0 dropdown-menu-role rounded-0">
                                <li>
                                    <a class="dropdown-item padding-link-sort"
                                       th:href="@{/view-candidate(search=${search})}">
                                        Status
                                    </a>
                                </li>
                                <li th:each="status : ${T(com.fa.ims.enums.CandidateStatus).values()}">
                                    <a class="dropdown-item padding-link-sort"
                                       th:href="@{/view-candidate(search=${search}, status=${status})}"
                                       th:text="${status.label}">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
            <div>
                <a th:href="@{/create-candidate}"><i class="fas fa-plus-circle fs-2 text-body"></i></a>
            </div>
        </div>
        <div class="w-100 candidate-content px-3">
            <table class="table table-bordered table-hover table-striped table-light border-dark">
                <div th:if="${deleteCandidateSuccess}" class="alert alert-success d-flex align-items-center text-success">
                    <i class="fas fa-check-circle me-2 fs-4"></i>
                    <span class="fw-bolder" th:text="#{${deleteCandidateSuccess}}"></span>
                </div>
                <thead class="table-primary border-dark">
                <tr class="text-center">
                    <th class="candidate-management-id">No</th>
                    <th class="candidate-management-name">Name</th>
                    <th class="candidate-management-email">Email</th>
                    <th class="candidate-management-phone">Phone No.</th>
                    <th class="candidate-management-position">Position</th>
                    <th class="candidate-management-user">Owner HR</th>
                    <th class="candidate-management-status">Status</th>
                    <th class="candidate-management-action">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="candidate, i : ${candidateDtos.content}">
                    <td class="text-center" th:text="${(i.index + 1) + (candidateDtos.number * size)}"></td>
                    <td th:text="${candidate.fullName}"></td>
                    <td th:text="${candidate.email}"></td>
                    <td th:text="${candidate.phoneNumber}" class="text-center"></td>
                    <td th:text="${candidate.position}"></td>
                    <td th:text="${candidate.user}"></td>
                    <td th:text="${candidate.status.label}" class="text-center"></td>
                    <td class="text-center">
                        <a class="text-decoration-none"
                           th:href="@{/information-candidate/{id}(id=${candidate.id},page=${candidateDtos.number})}">
                            <i class="fas fa-eye fs-5 text-dark me-1"></i>
                        </a>
                        <a class="text-decoration-none"
                           th:href="@{/update-candidate/{id}(id=${candidate.id},page=${candidateDtos.number})}">
                            <i class="far fa-edit fs-5 text-dark mx-1"></i>
                        </a>
                        <button type="button" class="border-0  mx-1" data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#modalCandidateId' + candidate.id}">
                            <i class="fas fa-trash-alt fs-5 text-dark"></i>
                        </button>
                        <div class="modal fade" th:attr="id=${'modalCandidateId' + candidate.id}">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="text-end pt-2 pe-2">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        Sure you want to delete this candidate?
                                    </div>
                                    <div class="modal-footer justify-content-center p-4">
                                        <a class="btn btn-primary pt-2 w-25 me-2"
                                           th:href="@{/delete-candidate/{id}
                                                       (id=${candidate.id},page=${candidateDtos.number})}">Yes
                                        </a>
                                        <button type="button" class="btn btn-secondary pt-2 w-25 ms-2"
                                                data-bs-dismiss="modal">
                                            No
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-end mx-5 my-4" th:if="${candidateDtos.totalPages > 0}">
                <li class="page-item"
                    th:classappend="${candidateDtos.number == 0 ? 'disabled cursor-not-allowed' : ''}">
                    <a class="page-link" th:classappend="${candidateDtos.number == 0 ? '' : 'text-dark'}"
                       th:href="@{/view-candidate(page=${candidateDtos.number - 1}, search=${search}, status=${status})}">
                        Previous
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark" th:text="${candidateDtos.number + 1}"></a>
                </li>
                <li class="page-item"
                    th:classappend="${candidateDtos.number == candidateDtos.totalPages - 1
                            ? 'disabled cursor-not-allowed' : ''}">
                    <a class="page-link"
                       th:classappend="${candidateDtos.number == candidateDtos.totalPages - 1 ? '' : 'text-dark'}"
                       th:href="@{/view-candidate(page=${candidateDtos.number + 1}, search=${search}, status=${status})}">
                        Next
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <th:block th:insert="/fragment/last"/>
</body>
</html>