<nav class="navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between align-items-center">
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/homepage}" class="nav-link navbar-item text-center navbar-item-padding"
                th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/homepage') ? 'active' : ''}">
                    IMS
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user-management}" class="nav-link navbar-item text-center navbar-item-padding"
                   th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/user-management') ? 'active' : ''}">
                    User
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/view-job}" class="nav-link navbar-item text-center navbar-item-padding"
                   th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/view-job') ? 'active' : ''}">
                    Job
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/view-candidate}" class="nav-link navbar-item text-center navbar-item-padding"
                   th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/view-candidate') ? 'active' : ''}">
                    Candidate
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/view-interview}" class="nav-link navbar-item text-center navbar-item-padding"
                   th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/view-interview') ? 'active' : ''}">
                    Interview
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link navbar-item text-center navbar-item-padding">Offer</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item dropdown pe-2">
                <a class="nav-link py-1" href data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="far fa-user-circle fs-3 text-light"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end m-0 p-0">
                    <li class="border-top">
                        <a class="dropdown-item py-2 px-4" href="#">My Account</a>
                    </li>
                    <li class="border-top">
                        <a class="dropdown-item py-2 px-4" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>