<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <th:block th:insert="/fragment/head"/>
</head>
<body>
    <th:block th:insert="/fragment/header"/>
    <div>
        <div>
            <h3 class="text-center fw-bold text-uppercase my-2">User Management</h3>
        </div>
        <div class="px-3">
            <ul class="breadcrumb m-0 pb-3 fw-bold">
                <li class="breadcrumb-item">
                    <a th:href="@{/user-management}" class="text-body text-decoration-none">User List</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center mb-4 px-3">
            <div class="w-100 d-flex">
                <form class="input-group"
                      th:action="@{/user-management(search=${searchByKeyword}, status=${searchByRole})}">
                    <div class="w-25 me-3 input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search"
                               th:value="${searchByKeyword}">
                        <button class="btn bg-white border" type="submit" title="search">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <ul class="navbar-nav border w-25 text-body rounded-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-body padding-link-sort d-flex justify-content-between align-items-center"
                               href data-bs-toggle="dropdown" aria-expanded="false">
                                <input hidden th:text="${searchByRole != null ?
                                               (!searchByRole.isEmpty() ? searchByRole : 'Role') : 'Role'}"
                                       th:value="${searchByRole}" name="role">
                                <i class="fas fa-chevron-down float-end"></i>
                            </a>
                            <ul class="dropdown-menu w-100 p-0 dropdown-menu-role rounded-0">
                                <li>
                                    <a class="dropdown-item padding-link-sort"
                                       th:href="@{/user-management(search=${searchByKeyword})}">
                                        Role
                                    </a>
                                </li>
                                <li class="border-top">
                                    <a class="dropdown-item padding-link-sort"
                                       th:href="@{/user-management(search=${searchByKeyword}, role='Admin')}">
                                        Admin
                                    </a>
                                </li>
                                <li class="border-top">
                                    <a class="dropdown-item padding-link-sort"
                                       th:href="@{/user-management(search=${searchByKeyword}, role='Recruiter')}">
                                        Recruiter
                                    </a>
                                </li>
                                <li class="border-top">
                                    <a class="dropdown-item padding-link-sort"
                                       th:href="@{/user-management(search=${searchByKeyword}, role='Interviewer')}">
                                        Interviewer
                                    </a>
                                </li>
                                <li class="border-top">
                                    <a class="dropdown-item padding-link-sort"
                                       th:href="@{/user-management(search=${searchByKeyword}, role='Manager')}">
                                        Manager
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
            <div>
                <a th:href="@{/create-user}"><i class="fas fa-plus-circle fs-2 text-body"></i></a>
            </div>
        </div>
        <div class="w-100 user-management-content px-3">

            <table class="table table-bordered table-hover table-striped table-light border-dark text-center">
                <thead class="table-primary border-dark">
                <tr>
                    <th class="user-management-name">Full Name</th>
                    <th class="user-management-username">Username</th>
                    <th class="user-management-email">Email</th>
                    <th class="user-management-phone">Phone No.</th>
                    <th class="user-management-role">Role</th>
                    <th class="user-management-status">Status</th>
                    <th class="user-management-action">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userDtoPage.content}">
                    <td th:text="${user.fullName}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.status.label}"></td>
                    <td>
                        <a href="#"><i class="fas fa-eye fs-5 text-dark me-1"></i></a>
                        <a href="#"><i class="far fa-edit fs-5 text-dark ms-1"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <th:block th:insert="/fragment/last"/>
</body>
</html>