<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Interview Schedule</title>
    <th:block th:insert="/fragment/head"/>
</head>
<body>

            <th:block th:insert="/fragment/header"/>
        <div>
            <div>
                <h3 class="text-center fw-bold text-uppercase my-2">Interview Schedule</h3>
            </div>
            <div class="px-3">
                <ul class="breadcrumb m-0 pb-3 fw-bold">
                    <li class="breadcrumb-item">
                        <a th:href="@{view-interview}" class="text-body text-decoration-none">Interview Schedule List</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center mb-4 px-3">
                <div class="w-100 d-flex">
                    <form class="input-group flex-nowrap"
                          th:action="@{/view-interview(search=${search}, result=${result}, date=${date},
                          status=${status})}">
                        <div class="w-25 me-3 input-group">
                            <input type="text" class="form-control" placeholder="Search" name="search"
                                   th:value="${search}">
                            <button class="btn bg-white border" type="submit" title="search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="w-25 me-3 input-group">
                            <input type="date" class="form-control" name="date"
                                   th:value="${date}">
                            <button class="btn bg-white border" type="submit" title="search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <ul class="navbar-nav border w-25 text-body rounded-2 me-3" >
                            <li class="nav-item dropdown">
                                <a class="nav-link text-body padding-link-sort d-flex justify-content-between align-items-center"
                                   href data-bs-toggle="dropdown" aria-expanded="false">
                                    <input hidden th:value="${result}" name="result">
                                    <span th:if="${result == null}">Result</span>
                                    <span th:if="${result == null ? false : 'PENDING_RESULT'.equals(result.name())}">
                                        Pending Result
                                    </span>
                                    <span th:if="${result == null ? false : 'OPEN'.equals(result.name())}">
                                        Open
                                    </span>
                                    <span th:if="${result == null ? false : 'FAIL'.equals(result.name())}">
                                        Fail
                                    </span>
                                    <span th:if="${result == null ? false : 'PASS'.equals(result.name())}">
                                        Pass
                                    </span>
                                    <span th:if="${result == null ? false : 'CANCEL'.equals(result.name())}">
                                        Cancel
                                    </span>
                                    <i class="fas fa-chevron-down float-end"></i>
                                </a>
                                <ul class="dropdown-menu w-100 p-0 dropdown-menu-role rounded-0">
                                    <li>
                                        <a class="dropdown-item padding-link-sort"
                                           th:href="@{/view-interview(search=${search},
                                           status=${status})}">
                                            Result
                                        </a>
                                    </li>
                                    <li th:each="result : ${T(com.fa.ims.enums.InterviewResult).values()}">
                                        <a class="dropdown-item padding-link-sort"
                                           th:href="@{/view-interview(search=${search}, date=${date}, result=${result},
                                           status=${status})}" th:text="${result.label}">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav border w-25 text-body rounded-2 me-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-body padding-link-sort d-flex justify-content-between align-items-center"
                                   href data-bs-toggle="dropdown" aria-expanded="false">
                                    <input hidden th:value="${status}" name="status">
                                    <span th:if="${status == null}">Status</span>
                                    <span th:if="${status == null ? false : 'OPEN'.equals(status.name())}">Open</span>
                                    <span th:if="${status == null ? false : 'FAIL'.equals(status.name())}">Fail</span>
                                    <span th:if="${status == null ? false : 'PASS'.equals(status.name())}">Pass</span>
                                    <span th:if="${status == null ? false : 'CANCEL'.equals(status.name())}">Cancel</span>
                                    <i class="fas fa-chevron-down float-end"></i>
                                </a>
                                <ul class="dropdown-menu w-100 p-0 dropdown-menu-role rounded-0">
                                    <li>
                                        <a class="dropdown-item padding-link-sort"
                                           th:href="@{/view-interview(search=${search},
                                           result=${result})}">
                                            Status
                                        </a>
                                    </li>
                                    <li th:each="status : ${T(com.fa.ims.enums.InterviewStatus).values()}">
                                        <a class="dropdown-item padding-link-sort"
                                           th:href="@{/view-interview(search=${search}, date=${date}, result=${result},
                                           status=${status})}"
                                           th:text="${status.label}">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </form>
                </div>
                <div>
                    <a th:href="@{/create-interview}"><i class="fas fa-plus-circle fs-2 text-body"></i></a>
                </div>
            </div>
            <div class="w-100 interview-table px-3">
                <table class="table table-bordered table-hover table-striped table-light border-dark">
                    <div th:if="${deleteInterviewSuccess}" class="alert alert-success d-flex align-items-center text-success">
                        <i class="fas fa-check-circle me-2 fs-4"></i>
                        <span class="fw-bolder" th:text="#{${deleteInterviewSuccess}}"></span>
                    </div>
                    <thead class="table-primary border-dark text-center">
                        <tr>
                            <th class="interview-management-id">No</th>
                            <th class="interview-management-title">Title</th>
                            <th class="interview-management-name">Candidate Name</th>
                            <th class="interview-management-interviewer">Interviewer</th>
                            <th class="interview-management-schedule">Schedule</th>
                            <th class="interview-management-result">Result</th>
                            <th class="interview-management-status">Status</th>
                            <th class="interview-management-action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="interview, i : ${interviewDtos.content}">
                            <td class="text-center" th:text="${(i.index + 1) + (interviewDtos.number * size)}"></td>
                            <td th:text="${interview.title}"></td>
                            <td th:each="candidate : ${candidates}" th:if="${interview.id == candidate.key}"
                                th:text="${candidate.value}">
                            </td>
                            <td th:each="user : ${users}" th:if="${interview.id == user.key}" th:text="${user.value}">
                            </td>
                            <td th:text="${#temporals.format(interview.scheduleDate, 'dd/MM/yyyy')
                            + (interview.scheduleFrom != null ? ' ' + interview.scheduleFrom : '')
                            + (interview.scheduleFrom != null && interview.scheduleTo != null ? ' - ' : '')
                             + (interview.scheduleTo != null ? interview.scheduleTo : '')}">
                            </td>
                            <td class="text-center"
                                th:text="${interview.result.label}"></td>
                            <td class="text-center"
                                th:text="${interview.status.label}"></td>
                            <td class="text-center">
                                <a class="text-decoration-none">
    <!--                               th:href="@{/information-interview/{id}(id=${interview.id},page=${interviewDtos.number})}">-->
                                    <i class="fas fa-eye fs-5 text-dark me-1"></i>
                                </a>
                                <a class="text-decoration-none"
                                   th:href="@{/update-interview/{id}(id=${interview.id},page=${interviewDtos.number})}">
                                    <i class="far fa-edit fs-5 text-dark mx-1"></i>
                                </a>
                                <button type="button" class="border-0  mx-1" data-bs-toggle="modal"
                                        th:attr="data-bs-target=${'#modalInterviewId' + interview.id}">
                                    <i class="fas fa-trash-alt fs-5 text-dark"></i>
                                </button>
                                <div class="modal fade" th:attr="id=${'modalInterviewId' + interview.id}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="text-end pt-2 pe-2">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                Sure you want to delete this interview?
                                            </div>
                                            <div class="modal-footer justify-content-center p-4">
                                                <a class="btn btn-primary pt-2 w-25 me-2"
                                                   th:href="@{/delete-interview/{id}
                                                   (id=${interview.id},page=${interviewDtos.number})}">Yes
                                                </a>
                                                <button type="button" class="btn btn-secondary pt-2 w-25 ms-2"
                                                        data-bs-dismiss="modal">
                                                    No
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination justify-content-end mx-5 mt-4 pb-4 mb-0" th:if="${interviewDtos.totalPages > 0}">
                    <li class="page-item"
                        th:classappend="${interviewDtos.number == 0 ? 'disabled cursor-not-allowed' : ''}">
                        <a class="page-link" th:classappend="${interviewDtos.number == 0 ? '' : 'text-dark'}"
                           th:href="@{/view-interview(page=${interviewDtos.number - 1}, search=${search},
                           date=${date}, result=${result}, status=${status})}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark" th:text="${interviewDtos.number + 1}"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${interviewDtos.number == interviewDtos.totalPages - 1
                        ? 'disabled cursor-not-allowed' : ''}">
                        <a class="page-link"
                           th:classappend="${interviewDtos.number == interviewDtos.totalPages - 1 ? '' : 'text-dark'}"
                           th:href="@{/view-interview(page=${interviewDtos.number + 1}, search=${search},
                           date=${date}, result=${result}, status=${status})}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    <th:block th:insert="/fragment/last"/>
</body>
</html>