<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Access Denied</title>
    <th:block th:insert="/fragment/head"/>
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100 home-content">
    <div class="text-center">
        <h1 class="display-1 fw-bold">403</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> You don't have permission to access this page.</p>
        <p>
            Access forbidden.
        </p>
        <a th:href="@{/homepage}" class="btn btn-primary">Go to Homepage</a>
    </div>
</div>
</body>
</html>