<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Not found</title>
    <th:block th:insert="/fragment/head"/>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center vh-100 home-content">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p>
                The page you’re looking for doesn’t exist.
            </p>
            <a th:href="@{/homepage}" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</body>
</html>