<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Internal server error</title>
    <th:block th:insert="/fragment/head"/>
</head>
    <body>
    <div class="d-flex align-items-center justify-content-center vh-100 home-content">
        <div class="text-center">
            <h1 class="display-1 fw-bold">500</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Internal server error!</p>
            <p>
                Something went wrong!
            </p>
            <a th:href="@{/homepage}" class="btn btn-primary">Go Home</a>
        </div>
    </div>
    </body>
</html>