<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Management</title>
    <th:block th:insert="/fragment/head"/>
</head>
<body>
    <th:block th:insert="/fragment/header"/>
        <div>
            <div>
                <h3 class="text-center fw-bold text-uppercase my-2">Job Management</h3>
            </div>
            <div class="px-3">
                <ul class="breadcrumb m-0 pb-3 fw-bold">
                    <li class="breadcrumb-item">
                        <a th:href="@{/view-job}" class="text-body text-decoration-none">Job List</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center mb-4 px-3">
                <div class="w-100 d-flex">
                    <form class="input-group"
                          th:action="@{/view-job(search=${search}, date=${date}, status=${status})}">
                        <div class="w-25 me-3 input-group">
                            <input type="text" class="form-control" placeholder="Search" name="search"
                                   th:value="${search}">
                            <button class="btn bg-white border" type="submit" title="search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="w-25 me-3 input-group">
                            <input type="date" class="form-control" name="date" th:value="${date}">
                            <button class="btn bg-white border" type="submit" title="search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <ul class="navbar-nav border w-25 text-body rounded-2">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-body padding-link-sort d-flex justify-content-between align-items-center"
                                   href data-bs-toggle="dropdown" aria-expanded="false">
                                    <input hidden th:value="${status}" name="status">
                                    <span th:if="${status == null}">Status</span>
                                    <span th:if="${status == null ? false : 'OPEN'.equals(status.name())}">Open</span>
                                    <span th:if="${status == null ? false : 'IN_PROGRESS'.equals(status.name())}">
                                        In-Progress
                                    </span>
                                    <span th:if="${status == null ? false : 'CLOSED'.equals(status.name())}">Closed</span>
                                    <i class="fas fa-chevron-down float-end"></i>
                                </a>
                                <ul class="dropdown-menu w-100 p-0 dropdown-menu-role rounded-0">
                                    <li>
                                        <a class="dropdown-item padding-link-sort"
                                           th:href="@{/view-job(search=${search}, date=${date})}">
                                            Status
                                        </a>
                                    </li>
                                    <li th:each="status : ${T(com.fa.ims.enums.JobStatus).values()}">
                                        <a class="dropdown-item padding-link-sort"
                                           th:href="@{/view-job(search=${search}, date=${date}, status=${status})}"
                                           th:text="${status.label}">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="d-flex">
                    <a href="#"><i class="fas fa-file-export fs-3 mx-3 text-body"></i></a>
                    <a th:href="@{/create-job}"><i class="fas fa-plus-circle fs-3 text-body"></i></a>
                </div>
            </div>
            <div class="w-100 job-content px-3">
                <table class="table table-bordered table-hover table-striped table-light border-dark">
                    <div th:if="${deleteJobSuccess}" class="alert alert-success d-flex align-items-center text-success">
                        <i class="fas fa-check-circle me-2 fs-4"></i>
                        <span class="fw-bolder" th:text="#{${deleteJobSuccess}}"></span>
                    </div>
                    <thead class="table-primary border-dark text-center">
                    <tr class="text-center">
                        <th class="job-management-id">No</th>
                        <th class="job-management-title">Job Title</th>
                        <th class="job-management-skill">Required Skills</th>
                        <th class="job-management-startDate">Start Date</th>
                        <th class="job-management-endDate">End Date</th>
                        <th class="job-management-level">Level</th>
                        <th class="job-management-status">Status</th>
                        <th class="job-management-action">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="job, i : ${jobDtos.content}">
                        <td class="text-center" th:text="${(i.index + 1) + (jobDtos.number * size)}"></td>
                        <td th:text="${job.title}"></td>
                        <td th:each="skill : ${skills}" th:if="${job.id == skill.key}" th:text="${skill.value}"></td>
                        <td class="text-center" th:text="${#temporals.format(job.startDate, 'dd/MM/yyyy')}"></td>
                        <td class="text-center" th:text="${#temporals.format(job.endDate, 'dd/MM/yyyy')}"></td>
                        <td th:each="level : ${levels}" th:if="${job.id == level.key}" th:text="${level.value}"></td>
                        <td class="text-center" th:text="${job.status.label}"></td>
                        <td class="text-center">
                            <a class="text-decoration-none" th:href="@{job-details/{id}(id=${job.id})}">
                                <i class="fas fa-eye fs-5 text-dark me-1"></i>
                            </a>
                            <a class="text-decoration-none" th:href="@{update-job/{id}(id=${job.id},page=${jobDtos.number})}">
                                <i class="far fa-edit fs-5 text-dark ms-1"></i>
                            </a>
                            <button type="button" class="border-0  mx-1" data-bs-toggle="modal"
                                    th:attr="data-bs-target=${'#modalJobId' + job.id}">
                                <i class="fas fa-trash-alt fs-5 text-dark"></i>
                            </button>
                            <div class="modal fade" th:attr="id=${'modalJobId' + job.id}">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="text-end pt-2 pe-2">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            Sure you want to delete this job?
                                        </div>
                                        <div class="modal-footer justify-content-center p-4">
                                            <a class="btn btn-primary pt-2 w-25 me-2"
                                               th:href="@{/delete-job/{id}
                                                   (id=${job.id},page=${jobDtos.number})}">Yes
                                            </a>
                                            <button type="button" class="btn btn-secondary pt-2 w-25 ms-2"
                                                    data-bs-dismiss="modal">
                                                No
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="pagination justify-content-end mx-5 mt-4 pb-4 mb-0" th:if="${jobDtos.totalPages > 0}">
                    <li class="page-item"
                        th:classappend="${jobDtos.number == 0 ? 'disabled cursor-not-allowed' : ''}">
                        <a class="page-link" th:classappend="${jobDtos.number == 0 ? '' : 'text-dark'}"
                           th:href="@{/view-job(page=${jobDtos.number - 1})}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark" th:text="${jobDtos.number + 1}"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${jobDtos.number == jobDtos.totalPages - 1
                        ? 'disabled cursor-not-allowed' : ''}">
                        <a class="page-link"
                           th:classappend="${jobDtos.number == jobDtos.totalPages - 1 ? '' : 'text-dark'}"
                           th:href="@{/view-job(page=${jobDtos.number + 1}, search=${search}, status=${status})}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    <th:block th:insert="/fragment/last"/>
</body>
</html>