<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Login</title>
    <th:block th:insert="/fragment/head"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center vh-100 align-items-center">
            <div class="col-4 px-4 py-5 form-login">
                <div class="d-flex justify-content-center align-items-center mb-4">
                    <img th:src="@{/image/logo-login.jpg}" class="login-logo-size rounded me-2">
                    <span class="fw-bold fs-4 ms-2">IMS Recruitment</span>
                </div>
                <div th:if="${param.error}"
                     class="alert alert-danger d-flex align-items-center justify-content-center m-0">
                    <i class="fas fa-times fs-3 text-danger me-1"></i>
                    <span class="text-danger fw-bold ms-1" th:text="#{user.login.invalid}"></span>
                </div>
                <form th:action="@{/authentication}" method="post">
                    <div class="d-flex align-items-center my-4">
                        <label for="username" class="form-label w-25 m-0">Username</label>
                        <input type="text" class="form-control w-75" id="username" name="username">
                    </div>
                    <div class="d-flex align-items-center my-4">
                        <label for="password" class="form-label w-25 m-0">Password</label>
                        <input type="password" class="form-control w-75" id="password" name="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                        <label for="remember-me">Remember me?</label>
                        <a href class="float-end text-body fw-bold">Forgot password?</a>
                    </div>
                    <div class="text-center w-100 px-4">
                        <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>